body {
    font-family: Georgia, serif;
}

.header {
    color: rgb(0, 0, 0);
}

.generateRecipes {
    margin-bottom: 16px;
}

#noIngredients {
    display: none;
}

.foodItemsLabel {
    display: block;
    color: rgb(0, 0, 0);
}

.recipeLabel {
    font-size: 24px;
    display: block;
}

.recipeImage {
    display: block;
    margin-bottom: 15px;
}