*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  button {
    margin: 1rem;
  }
  
  .btn {
    background-color: var(--background-color);
    color: rgb(245, 235, 235);
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
  
    --background-color: #E3E3E3;
    --border-size: 2px;
  }
  
  .btn.recipebtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
  }
  
  .btn.recipebtn:hover::before,
  .btn.recipebtnp:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
  }
  