body {
 margin: 50px;
 padding: 0;
 background: #e84118;
 font-family: Verdana, sans-serif;
}

.search {
 position: absolute;
 top: 20%;
 right: 10%;
}

.search-box {
 margin-top: 50px;
 margin-right: 20%;
 margin-left: 90%
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.sortbyexpiry {
background-color: white;
text-align-last:center;
font-family: inherit;
}


.table-scroll {
  height:370px;
  width: 580px;
  overflow:auto;
  margin-top:10px;
  direction: ltr;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
.alignment {
    display: block;
    margin: 15px;
}

    .alignment span {
        display: block;
        float: right;
        width: 50%;
        margin-left: 15px;
    }

  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} */

/* Button to open the contact form */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* Popup form */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: rgb(5, 5, 5);
}

/*input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #642323;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: rgb(95, 86, 86);
  outline: none;
}

/*Done Button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Cancel Button */
.form-container .cancel {
  background-color: red;
}

/* Hover effects for buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}