<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <!-- <script src="../../public/scripts/client.js"></script> -->
    <script src="/client.js"></script>
  </head>

  <body>

    <div class="container">
        <h2>Add Products to the Fridge</h2>

        <label for="name">Product Name:</label>
        <select name="addProduct" id="addProduct">
            <option value="peaches">Peach</option>
            <option value="muffins">Muffin</option>
            <option value="oranges">Orange</option>
            <option value="eggs">Egg</option>
            <option value="bacon">Bacon</option>
            <option value="butter">Butter</option>
            <option value="celery">Celery</option>
        </select>
        <br>
        <label for="name">Quantity</label>
        <input type="number" id="quantity"/> 
        <br>
        <button onclick="addProduct()">Add to Fridge</button>

        <br>
        <br>

        <h2>Remove Products from the Fridge</h2>

        <label for="name">Product Name:</label>
        <select name="removeProduct" id="removeProduct">
            <option value="peaches">Peach</option>
            <option value="muffins">Muffin</option>
            <option value="oranges">Orange</option>
            <option value="eggs">Egg</option>
            <option value="bacon">Bacon</option>
            <option value="butter">Butter</option>
            <option value="celery">Celery</option>
        </select>
        <br>
        <button onclick="removeProduct()">Remove from Fridge</button>

    </div>

  </body>
</html>