<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
	<link rel = "stylesheet" href= "/stylesheets/main.css">
	<link rel = "stylesheet" href= "/stylesheets/search.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/client.js"></script>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
        <h2>Edit Profile</h2>
        <form name="editProfile" action="/editProfile" onsubmit="return validate()"><br>

<!--pattern="[A-Za-z] [A-Za-z]"-->

        	<!--Input name-->
	        <label for="name" >Name:</label>
	        <% searchresults.forEach(function(r) { %> <input value="<%= r.name%>" disabled></input> <% }); %>
	        <input type="text" id="name" placeholder="First Last" autofocus autocomplete="on"/> <br>
	        <!--Input email-->
	        <label for="name">Email:</label>
	        <% searchresults.forEach(function(r) { %> <input value="<%= r.email%>" type="text" disabled></input> <% }); %>
	        <input type="text" id="email" placeholder="email@gmail.com" pattern="[a-z0-9._%+-]+@gmail.com" autocomplete="on"/> <br>
	        <!--Input postal code-->
	        <label for="name">Postal Code:</label>
	        <% searchresults.forEach(function(r) { %> <input value="<%= r.postal_code%>" disabled> <% }); %>
	        <input type="text" id="postal_code" maxlength="7" placeholder="A0A 0A0" pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]" autocomplete="on"/> <br>
	        <!--Input email frequency-->
	        <!-- <label for="name">Email Frequency:</label>
	        <% searchresults.forEach(function(r) { %> <input value="<%= r.email_freq%>" disabled><% }); %>
	        <input list="email_freq" placeholder="Select"/> <br>
	        	<datalist id="email_freq">
	        		<option value="0">
				    <option value="1">
				    <option value="2">
				    <option value="3">
				    <option value="4">
				    <option value="5">
				</datalist> -->
	        <!--button-->
	        <br><input type="submit" name="submit" value="Edit Profile" >	       
    	</form>
    	<br><a href="/">Home</a>
    </div>
  </body>
</html>