<style type="text/css">
    .header {
      background: #db1b1b;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
  </style>
  
  
<table border = 2 style="width:50%"> 
    <tr>
        <th>Products</th>
        <th> Type </th>
        <th> Date of Expiry </th>
        <th> Quantity </th>
    </tr>

    <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.prod_name%></td>
          <td><%= r.type%></td>
          <td><%= r.exp_dt%></td>
          <td><%= r.qty%></td>
        </tr>
      <% }); %>


</table>
  
  