<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <!-- <script src="../../public/scripts/client.js"></script> -->
    <script src="/client.js"></script>
    <link rel = "stylesheet" href= "/stylesheets/foodDonation.css">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZCcuiXtuCUGqsrdXd-t4_hl4ILC9TK4&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script>
      var map;
      function initMap(){
        var options = {
          zoom:12,
          center:{lat:43.4643, lng: - 80.5204}
        }
        map = new google.maps.Map(document.getElementById('map'), options);
        
        var request = {
          location: center,
          radius: 10000,
          types: ['donation']
        };
        
        var service = new google.maps.places.PlacesService(map);

        service.nearbySearch(request, callback);
      }

      function callback(request, status){
          if(status == google.maps.places.PlacesServiceStatus.OK){
              for (var i = 0; i < request.length; i++){
                createMarker(request[i]);
              }
          }
      }

      function createMarker(places){
        var placeLoc = places.geometry.location;
        var marker = new google.maps.Marker({
          map:map,
          position: places.geometry.location
        });
      }
    google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    <style>
      #map{
        height: 400px;
        width: 75%;
      }
      
    </style>
  </head>
  
  <body>
    <div class="header">
      <h1>What's Cooking, Good Looking?</h1>
      <h2> Here are some Food Banks near you!  </h2>
    </div>
    <br>
    <a href="/">Click here to go back to your fridge.</a>
    </br>
    </br>
    <div id="map"></div>
    
    
  </body>

  <br>
</html>
