<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <!-- <script src="../../public/scripts/client.js"></script> -->
    <script src="/client.js"></script>
    <link rel = "stylesheet" href= "/stylesheets/foodDonation.css">
  </head>
  <div class="header">
    <h1>What's Cooking, Good Looking?</h1>
    <h2> Here are some Food Banks near you!  </h2>
  </div>
  <br>
  <a href="/">Click here to go back to your fridge.</a>
  </br>
  </br>

  <br>
</html>
