<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href= "/stylesheets/search.css">
<title>Main Page</title>
</head>
<body>
 <div class="search-box">
   <input type="text" name="" class="search-txt" placeholder="Search..."/>
   <a class="search-btn" href = "#">
   </a>
  </div>
<font color = #ffffff >
<h1> Hello User!</h1>
<p>Here's what is in your fridge </p>
<table  border = 2 style="width:50%">
  <tr>
    <th>Products</th>
    <th>Type</th>
    <th>Date of Expiry</th>
    <th>Quantity</th>
  </tr>
            <td><%= r.prod_name%></td>
            <td><%= r.prod_type%></td>
            <td><%= r.prod_expiry%></td>
            <td><%= r.prod_quantity%></td>
</table>
</font>
</body>
</html>