<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href= "/stylesheets/search.css">
<title>Main Page</title>
</head>
<body>
 <div class="search-box">
   <input type="text" name="" class="search-txt" placeholder="Search..."/>
   <a class="search-btn" href = "#">
   </a>
  </div>
<font color = #ffffff >
<h1> Hello User!</h1>

<p class="alignment">
            <span>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;
                
                Would you like to add a new product?
            </span>
        </p>

        <p>Today's Date: <span id="datetime"></span></p>
        <script>
            var dt = new Date();
            document.getElementById("datetime").innerHTML = dt.toLocaleString();</script>

<p>Here's what is in your fridge </p>
<table  border = 2 style="width:50%">
  <tr>
    <th>Products</th>
    <th>Type</th>
    <th>Date of Expiry</th>
    <th>Quantity</th>
  </tr>
  <% results.forEach(function(r) { %>
    <tr>
      <td><%= r.prod_name%></td>
      <td><%= r.type%></td>
      <td><%= r.exp_dt%></td>
      <td><%= r.qty%></td>
    </tr>
  <% }); %>
</table>
</font>

  <button type="button" class="button">Find out what's expiring soon -></button>

</body>
</html>
