<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <!-- <script src="../../public/scripts/client.js"></script> -->
    <script src="/client.js"></script>
  </head>
  <h1>What's Cooking, Good Looking?</h1>
  <h2> Here are some recipe suggestions for you! </h2>
  <br>
  

  <br>
  <p>"You are what you eat!"</p>
</html>