<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <% include ../partials/header.ejs %>
    <!-- <script src="../../public/scripts/client.js"></script> -->
    <script src="/client.js"></script>
  </head>
  <h2>What's Cooking, Good Looking?</h2>
  <br>
   <!-- Fields to enter email and passoword. Task not required to function for Sprint 2.-->
  <form action="/action_page.php">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <button type="loginbutton" class="button">Log In</button>
  </form>
<br>
    <!-- Google Sign In Button-->
  <html lang="en">
  <head>
    <meta name="google-signin-client_id" content="428407383068-nec4si48ja9r4pahl3ohp4rtq3cc8v7m.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-3">
        <a class="btn btn-light" href="/auth/google" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </a>
      </div>
    </div>
  </body>
  <br>
  <p>"You are what you eat!"</p>
</html>