<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href= "search.css">
<title>Main Page</title>
</head>
<body>
    <div class="search-box">
        <input type="text" name="" class="search-txt" placeholder="Search..." />
        <a class="search-btn" href="#">
        </a>
    </div>
    <font color=#ffffff>
        <h1> Hello User!</h1>
        <p>Here's what is in your fridge </p>
        <table border=2 style="width:50%">
            <tr>
                <th>Products</th>
                <th>Type</th>
                <th>Date of Expiry</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Spinach</td>
                <td>Produce</td>
                <td>27th October</td>
                <td> 2 pk </td>
            </tr>
            <tr>
                <td>Mushrooms</td>
                <td>Produce</td>
                <td>28th October</td>
                <td> 4 pk </td>
            </tr>
            <tr>
                <td>Beef</td>
                <td>Protien</td>
                <td>28th October</td>
                <td> 4  </td>
            </tr>
        </table>
    </font>
 
    <button type="button" class="button">Find out what's expiring soon -></button>
   
</body>

</html>